.menuLateral {
  left: 0;
  position: absolute;
  padding-left: 25px;
  line-height: 50px;
  color: grey;
}
.links {
  padding-top: 200px;
  color: grey;
}
.inProgress {
  padding-top: 100px;
}

.icons :hover {
  color: #4c62c5;
  font-weight: bold;
}

.icons svg {
  color: grey;
}

.inProgress div:hover {
  color: #4c62c5;
  font-weight: bold;
}

.iconMargins {
  margin-left: 15px;
  color: grey;
}

.iconNames {
  display: flex;
  justify-content: space-around;
  line-height: 18px;
  color: grey;
}
.icons {
  display: flex;
  cursor: pointer;
  align-items: center;
  align-content: center;
  padding-top: 40px;
}
.iconsSvg {
  display: flex;
}
.iconNames {
  margin-left: 15px;
}
.guestModal {
  position: absolute;
  top: 50;
  left: 50;
  color: black;
}
