.guestsList {
  position: absolute;
  top: 10%;
  left: 170%;
  width: 750px;
  height: 1000px;
}

.guestsTop {
  border: 1px solid grey;
  display: flex;
  width: 750px;
}

.guestsListTop {
  background-color: #4c62c5;
  width: 45px;
  height: 100px;
}
.guestsListText {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  width: 705px;
  justify-content: center;
}

.grid-container {
  color: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: lightgray;
}

.grid-container > div {
  text-align: left;
  font-size: 0.875rem;
  line-height: initial;
  width: 200px;
}

.info {
  padding-top: 30px;
}
.infoDatabase {
  font-weight: bold;
}

.guestList {
  cursor: pointer;
}

.guestList :hover {
  background-color: grey;
}
