.guestsList {
  position: absolute;
  top: 10%;
  left: 170%;
  width: 850px;
  height: 1000px;
  background-color: lightgray;
}

.guestsTop {
  border: 1px solid grey;
  display: flex;
  width: 850px;
  height: 140px;
}

.guestsListTop {
  background-color: #4c62c5;
  width: 50px;
  height: 140px;
  color: white;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
.guestsListText {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  width: 800px;
  background-color: white;
  color: black;
  justify-content: flex-start;
  padding-left: 15px;
}

.grid-container {
  color: black;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 55px;
}
.grid-container:hover {
  background-color: white;
}

.grid-container > div {
  text-align: left;
  font-size: 0.875rem;
  line-height: initial;
  width: 200px;
  height: 50px;
}

.info {
  padding-top: 30px;
}
.infoDatabase {
  font-weight: bold;
}

.guestList {
  cursor: pointer;
}
.whiteBackground {
  width: 750px;
  margin-left: 28px;
}
.whiteBackground :hover {
  background-color: white;
}
.closeGuestList {
  font-size: 35px;
}

.closeGuestListText {
  line-height: 0;
}

.button {
  cursor: pointer;
  width: 70px;
  right: 50px;
  margin-top: 50px;
  margin-left: 700px;
  color: #4c62c5;
}

.buttonSave {
  color: #4c62c5;
  font-weight: bold;
  cursor: pointer;
}
.form {
  margin-left: 20px;
  width: 750px;
}
.form label {
  margin-left: 30px;
}
